body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(129, 193, 212);
    font-size: 2rem;
    min-width: 30rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(172, 201, 238, 0.5);
    transform: scale(1.01);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 1.5rem 2rem;
    color: #fff;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(27, 133, 40) 0%, rgb(46, 155, 86) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(226, 78, 78) 0%, rgb(206, 70, 70) 100%);
}

/*score display*/
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(103, 101, 241);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(150, 105, 223);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}